<!DOCTYPE html>
<html>
    <head>
        <title>Trades</title>
    </head>
    <body style="background-color: #1d528b;">
        <ul>
            <div class="itemcard" onclick="window.location.href = '/trades/trade_info/{{offer.pk}}'">
                <div style="background-image: url('{{item.image_url}}'), url('https://www.svgrepo.com/show/451667/image-missing.svg');background-size:cover; width: 150px; height: 150px; margin: auto; border-radius: 10px">
                <br>
                </div>
                <p style="margin-top: 5%"></p>
                <h5>{{offer.offer_title}}</h5>
                <h6 class="itemcard-desc">by {{offer.offer_item.owner.username}}</h6>
            </div>
        </ul>
    </body>
</html>