<!DOCTYPE html>
<html>
    <head>
        <title>Auctions</title>
    </head>
    <body style="background-color: #1d528b;">
        <ul>
            <div style="background-color: #d3d3d3; border-radius: 10px; display: flex; justify-content: center; flex-direction: column; text-align: left; height: 300px; width: 200px; padding: 20px;" onclick="window.location.href = '../trades/trade_item/{{item.pk}}'">
                <div style="background-color: white; width: 100px; height: 100px; margin: auto; padding-top:10px">
                <br>
                </div>
                <p style="margin-top: 5%"></p>
                <h5>{{auctionitem.name}}</h5>
                <h6>by {{auctionitem.author}}</h6>
            </div>
        </ul>
    </body>
</html>