<div style=" box-shadow: 4px 4px 4px 0.01px black;">
    <nav display = "flex" class="navbar bg-body-tertiary" data-bs-theme="light" style="padding: 0.5%" style="background-color: white;">
        <h2><i>WhatSwap</i></h2>
        <h5><a>Trade</a></h5>
        <h5>Auctions</h5>
        <h5>Forum</h5>
        <h5>Inventory</h5>
        <h5>Help</h5>
        <p></p>
        <p></p>
        <p></p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a href="accounts/login" style="color: black">Login</a>
        </button>
    </nav>
</div>