<!DOCTYPE html>
<html>
    <head>
        <title>Trades</title>
    </head>
    <body>
        <ul>
            <div style="background-color: #d3d3d3; border-radius: 10px; display: flex; justify-content: center; flex-direction: column; text-align: center; width: 100%; padding: 20px">
                <div style="background-color: white; width: 100px; height: 100px; margin: auto;">
                    <p></p>
                </div>
                <p style="margin-top: 5%"></p>
                <b>{{item.item_name}}</b>
                <p></p>
                {{item.item_desc}}
                <p></p>
                <i>{{item.created_at}}</i>
            </div>
        </ul>
    </body>
</html>