<div style=" box-shadow: 4px 4px 4px 0.01px black; z-index: 3">
    <nav display = "flex" class="navbar bg-body-tertiary" data-bs-theme="light" style="padding: 0.5%" style="background-color: white;">
        <h2><i>WhatSwap</i></h2>
        <a href="/trades/" style="text-decoration: none; color: black; font-size: 20px">Trade</a>
        <a href="/auctions/" style="text-decoration: none; color: black; font-size: 20px">Auctions</a>
        <a href="/forum/" style="text-decoration: none; color: black; font-size: 20px">Forum</a>
        <a href="/profile/inventory/" style="text-decoration: none; color: black; font-size: 20px">Catalogue</a>
        <a href="/help/" style="text-decoration: none; color: black; font-size: 20px">Help</a>
        <p></p>
        <p></p>
        <p></p>
        {% include "common/logincheck.html" %}
        <!--button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <a href="accounts/login" style="color: black">Login</a>    
        </button-->
    </nav>
</div>